* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    width: 100%;
    height: 100%;
}

header {
    position: fixed;
    background-color: #A78D78;
    height: 50px;
    width: 900px;
    margin:0 auto;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

.logo img {
    height: 120px;
    position: relative;
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background: none;
    all: unset;
    cursor: pointer;
    color: #fff;
}

.banner {
    width: 90%;
    max-width: 1200px;
    height: 450px;
    overflow: hidden;
    border-radius: 20px;
    margin: 45px auto 0 auto;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: auto;
}